{% extends "TeamBuilderCovoiturageBundle::layout.html.twig"%}

{% block Erasebody %}


<style>
 
    .styleTable a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.styleTable a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.styleTable a:active,
.styleTable a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
.styleTable {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:15px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
     
                

}
.styleTable th {
/*	
    padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
        
  */
  
padding: 21px 25px 22px 25px;
border-top: 1px solid #fafafa;
border-bottom: 1px solid #e0e0e0;
background: #2C3E50;
/* background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb)); */
background: -moz-linear-gradient(top, #ededed, #ebebeb);
        
        
        
        
        
}
.styleTable th:first-child {
	text-align: left;
	padding-left:20px;
}
.styleTable tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
        
        
}
.styleTable tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.styleTable tr {
	text-align: center;
	padding-left:20px;
}
.styleTable td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
        
  
        
        
}
.styleTable td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);

}
.styleTable tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);

       
}
.styleTable tr:last-child td {
	border-bottom:0;
        border-left: 1px solid #e0e0e0;
 

}
.styleTable tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.styleTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.styleTable tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}
</style>


<div class="content_center" style="width: 80%; margin: auto;">
<h1 align='center'> Liste des Passagers</h1>
    <table class='styleTable'>

{% set i = 0 %}

{% for adherentConcerne in adherentConcernes %}
    <br>

        <tr>
            <th>
                Passager
                <th>
            </tr>
        <tr>
        <td><label>Nom   :       </label<label>{{adherentConcerne.nom}}  </label><br></td>
    </tr>
    <tr>    
    <td><label>Prenom :      </label<label>{{adherentConcerne.prenom}} </label><br></td>
    </tr>
    <tr>
    <td><label>Telephone :   </label<label>{{adherentConcerne.telephone }}</label><br></td>
</tr>
<tr>
    <td>
{% if  reclamationRs[i].nbrreclamation == 0 %}
{#
   
    <form action="{{ path ('Reclamation_Conducteur',{id:adherentConcerne[0].id})}}">
#}
    {#</form>#}

	<br>
	<a class="toshow{{loop.index}} back_button" id="reclamationBtn">Reclamation</a>
	<a href="{{ path('Evaluation_ajouter', {id: adherentConcerne.id }) }}" class="back_button">Evaluer</a>
	
    <form action="{{ path ('Reclamation_Conducteur',{id:adherentConcerne.id,'idR':reclamationRs[loop.index-1].idReclamationreservation})}}">
    
    </form>
    <div  Style=" margin-top: 35px; margin-left:  +10px; " id="reclamation" class="reclamations{{loop.index}}">

    {{ render( controller('TeamBuilderCovoiturageBundle:Reclamation:ajouter', { id:adherentConcerne.id,'idR':reclamationRs[loop.index-1].idReclamationreservation, idTrajet:idTrajet })) }}

    </div>
        
        
        </tr>
        </td>
{% endif %}
<hr/>
 




<script type="text/javascript">
    
    $(document).ready(function() {

        $('.reclamations{{loop.index}}').hide();

        $('.toshow{{loop.index}}').click(function() {
            $('.reclamations{{loop.index}}').show();

        }
                
                );




    });
</script>
{% set i = i+1 %}
{%endfor%}

</table>


{% endblock %}
