{# empty Twig template #}

{% extends "TeamBuilderCovoiturageBundle::layout.html.twig"%}


{%block Erasebody%} 
<style>
    .styleTable a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.styleTable a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.styleTable a:active,
.styleTable a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
.styleTable {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:15px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
        //ziyedaaa
       //    table-layout:fixed;

}
.styleTable th {
	
    /*
    padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
*/



padding: 21px 25px 22px 25px;
border-top: 1px solid #fafafa;
border-bottom: 1px solid #e0e0e0;
background: #2C3E50;
/* background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb)); */
background: -moz-linear-gradient(top, #ededed, #ebebeb);
        



}
.styleTable th:first-child {
	text-align: left;
	padding-left:20px;
}
.styleTable tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.styleTable tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.styleTable tr {
	text-align: center;
	padding-left:20px;
}
.styleTable td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
        
  
        
        
}
.styleTable td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);

}
.styleTable tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);

       
}
.styleTable tr:last-child td {
	border-bottom:0;
        border-left: 1px solid #e0e0e0;
 

}
.styleTable tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.styleTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.styleTable tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}
</style>

        
        <style>
        #map-canvas {
        height: 700px;
        margin: 0px;
        //margin: auto;
        
        padding: 0px;
        }

     

#directions-panel {
        height: 100%;
        float: left;
        width: 400px;
        height:700px;
        overflow: auto;
}
      
      
   
      
    </style>
        
    
    <style>
        
        #buttonRetour1 {
background: #2C3E50;
color: #FFF;
padding: .9em 3em;
display: inline-block;
text-transform: uppercase;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
border-radius: 0.3em;
-webkit-border-radius: 0.3em;
-moz-border-radius: 0.3em;
-o-border-radius: 0.3em;
font-size: 0.875em;
border-top: none;
border-right: none;
border-left: none;
border-bottom: 4px solid #2A323A;
outline: none;
cursor: pointer;
font-family: 'Open Sans', sans-serif;
}
        </style>
    
    <br>
    <br>
    <br>
    
    
<table class='styleTable'>
    
    <tr>
    
    <th>Vos Donnees Du Trajet</th>
    <th> Votre Map Du Trajet</th>
    <th>Vos Indications Routiere</th>
          
    </tr>
    
    <tr>
      
        <td   height = '100px' style='width:30% !important; vertical-align:top !important'>
         
 <div height='100px'>

     
 <table class='styleTable'>
       <tr>
           <td>
Depart :  {{ville1}} <input type='text' id='villeDepart' value='{{ville1}}' style='visibility:hidden' >
</tr>

       <tr>
           <td>
Destination :  {{ville2}} <input type='text' id='villeArrivee' value='{{ville2}}' style='visibility:hidden'>
<tr>
           <td>
Frequence   :  {{frequence}} 
</tr>

<tr>
           <td>
Places Libres :   {{places}} </td>
</tr>

<tr>
           <td>
Type Trajet  : {{typeTrajet}}  </td> 
</tr>

<tr>
           <td>
Prix / Personne :   {{prix}}   </td> 
</tr>

<tr>
           <td>
Heure Depart :   {{heure}}  </td> 
</tr>

<tr>
           <td>
Date Deaprt :   {{jours | date('d-m-Y') }}  </td> 
</tr>

<tr>
           <td>
Distance Estimee:  {{kilometrage}}  </td>
</tr>

<tr>
           <td>
Type Bagages :  {{bagages}}  </td>
</tr>

   
   
   </table>

</div>
    </td>
    
    
<td  height = '100px'style='width:33% !important' align='center'>  
 <div id="map-canvas"></div>   </td>
    
    
    <td  height = '100px' style='width:33% !important white-space: normal;' align='center'>     <div id="directions-panel">YOUR ROUTE IS HERE </div></td>
        
    </tr>


</table>
    
    
    
    <form action="{{path("team_builder_covoiturage_ajoutertrajet")}}">
        <span><input type="submit" id="buttonRetour1" value="RETOUR" align='center'></span>
        </form>
    
    
    
    <script src="    https://maps.googleapis.com/maps/api/js?key=AIzaSyDLz0GRExK6FU1yf48yMStyc0sc426rbEA&sensor=false"></script>
    <script>

//var ville1
//var ville2

//ville1='Ariana';
//Ville2='Tunis';


var ville1 = document.getElementById('villeDepart').value+',Tunisia';
var ville2 = document.getElementById('villeArrivee').value+',Tunisia';



var neighborhoods = [];

// le path*******************************************************************
var directionsDisplay;
var directionsService = new google.maps.DirectionsService();


//var myLatlng1 = 'TUNIS,Tunisia';
//var myLatlng1 = 'Grombalia,Tunisia';

//Geocode ********************************************
var geocoder;  // y7ot Marker a partir men esm lemdina 


//*********************************************************************
var markers = [];
var iterator = 0;

var map;


function initialize() {
//pour le path
	  directionsDisplay = new google.maps.DirectionsRenderer();
  
// geo code pour les villes
  geocoder = new google.maps.Geocoder();

  //var myLatlng1 = new google.maps.LatLng(36.806495,10.181532);
  //var myLatlng2 = new google.maps.LatLng(36.600000,10.500000);
  var centre_map = new google.maps.LatLng(0,0)

  var mapOptions = {
    zoom: 8,
    //center: myLatlng1
  }

//**************OPTIONS DE LA MAP *********************************************
   map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
// pour le Path
  directionsDisplay.setMap(map);
  //le panel de route
  directionsDisplay.setPanel(document.getElementById('directions-panel'));
//**************************************************************************************************


// GPS **************************************************************

  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);


/*
      var infowindow = new google.maps.InfoWindow({
        map: map,
        position: pos,
        content: 'Location found using HTML5.'
      });
*/
 
var myPosition = new google.maps.Marker({
      position: pos,
      
      //changer l icone de ma postion
      //icon : 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',

//icon:'https://cdn1.iconfinder.com/data/icons/glyph_set/128/location.png',
//Position actuel
icon :'http://www.googlemapsmarkers.com/v1/P/0099FF/FFFFFF/FF0000/',
/*
      icon: {
      path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
      scale: 5
    },

   */ 
      map: map,
      title: 'Ma Position'
  });



      map.setCenter(pos);
    }, function() {
      handleNoGeolocation(true);
    });
  } else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }

codeAddress(ville1,0);
codeAddress(ville2,1);

// appel a la fonction calcroute bech tsawwer el PATH 
//calcRoute();

}

//Path ************************

function calcRoute() {
 var start = neighborhoods[0];
 var end = neighborhoods[1];




  var request = {
    origin:start,
    destination:end,
    travelMode: google.maps.TravelMode.DRIVING
  };
  directionsService.route(request, function(result, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(result);
    }
  });
}


//**********************************************************************************************************
//**********************************************************************************************************
//**********************************************************************************************************
// Fonction tres importaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaante 
// getting location depuis le nom de la ville 

function codeAddress(ville,i) {
  var address = ville;

  alert(address);
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
    	alert('rani okkkk');
      map.setCenter(results[0].geometry.location);
     	// afficher the location (both)
     	alert(results[0].geometry.location);
     	// only the latitude
        alert(results[0].geometry.location.lat());
     	// only the longitude
     	alert(results[0].geometry.location.lng());

      
      
   neighborhoods[i]= new google.maps.LatLng(results[0].geometry.location.lat(),results[0].geometry.location.lng());

     
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
    
    
     if (i==1){
        calcRoute();  
      }
  });


}
//**********************************************************************************************************
//**********************************************************************************************************
//**********************************************************************************************************



//*******************************************************************************

// geo localisation



function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  var infowindow = new google.maps.InfoWindow(options);
  map.setCenter(options.position);
}


//**********************************************************************
google.maps.event.addDomListener(window, 'load', initialize);
//**************************************************************
    </script>
    
    
    
<br>
<br>
<br>
<br>
<br>
<br>




<br>
<br>
<br>
<br>
<br>
<br>



{%endblock%}


