{# empty Twig template #}
{% extends "TestBundle::layout.html.twig" %}

{% block Erasebody %}

<table align="center" width="98%" class="styleTable">
    <tr>
        
         
        <th style='background:#2C3E50 !important'><div class="p-ww">Ville de depart</div></th>
<th style='background:#2C3E50 !important'><span>Ville de arivee</span></th>
        <th style='background:#2C3E50 !important'>le jour</th>
        <th style='background:#2C3E50 !important'>Heure</th>
        <th style='background:#2C3E50 !important'>Nbr Placest</th>
       
        <th style='background:#2C3E50 !important'></th>
        
    </tr>
{%  for res in reservations   %}
   
    <tr>
        
        
        <td >{{ res.villeDepart  }}</td>
        <td> {{ res.villeArrivee  }}</td>
         <td>{{ res.date|date("d-m-Y")  }}</td>
        <td>{{ res.heure  }}</td>
        <td>{{ res.places  }}</td>
       <td>
 
            
         <a href = " {{ path('AfficheDetailsReservationsCourrantes', {idReservation: res.idReservation,idTrajet: res.idTrajet.idTrajet }) }} "> Consulter </a>   
        </td> 
        
        
      
    </tr>
   
{%endfor%}

</table>
{%endblock%}
{% block Erasefooter %}
{%endblock%}